body {
  background-color: #282c34;
  color: #fff;
  text-align: center;
}
li{
  list-style: none;
  font-size: 1rem;
}

.inpt{
  text-align: center;
  margin-top: 10%;
  height: 2rem;
  width: 15rem;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

.btn{
  display: inline-block;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 2.875rem;
  text-align: center;
  cursor: pointer;
  margin-left: 0.7rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  border: double 0.125rem transparent;
  padding: 0 2.0625rem;
  transition: all .3s ease-in-out;
}
.btn:hover{
  color: #fff;
  background-color: #5976af;
}
[data-testid] {
  align-items: center;
  justify-content: center;
}